.anime-form-container{
    background-color: #292929;
    width: 50%;
    margin: auto;
    border-radius: 25px;
    
}
.anime-form{

}
.form-control{
    background-color: #1F1F1F;
    border: none;
    width: 200px;
    max-width: inherit;
}
.form-control:focus{
    background-color: #1F1F1F;
}
.html{
    background-color: #121212;
}