.anime-form-container{
    background-color: #292929;
    width: 50%;
    margin: auto;
    border-radius: 25px;
    
}

.form-control{
    background-color: #1F1F1F;
    border: none;
    width: 200px;
    max-width: inherit;
    color: #FFFFFF;
}

.form-control:focus{
    background-color: #1F1F1F;
    color: white;
}
.html{
    background-color: #121212;
}
