* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Fira Sans', sans-serif;
}

html {background-color:#5EB1BF}

header {
	padding-top: 50px;
	padding-bottom: 50px;

	h1 {
		color: white;
		font-size: 36px;
		font-weight: 400;
		text-align: center;

		strong {
			color: #313131;
		}
	}
}
.anime-card{
	padding-right: 5%;
	padding: left 5%;
    border-radius: 12px; 
    padding-top: 2%;
   text-align: center;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

	.inner-main{
	height: 85%;
	width: 90%;
  background-color: #282A36;
  border-radius: 12px;
  /* Center horizontally*/
  margin: 0 auto;
	}
	.main{
		text-align: center;
		
		
		color: white;
		
	}
	.search-box{
		width: 357px;
  		margin: 4px auto;
  		text-align: center;
  		display: inline-block;
	}
		
		input {
			
					
			appearance: none;
			background: none;
			outline: none;
			border: none;

			display: block;
			width: 100%;
			max-width: 400px;
			padding: 16px;
			border-radius: 999px;
			background-color: #EEE;

			transition: 0.4s;

			::placeholder {
				color: #888;
			}

			&:focus, &:valid {
				background-color: #313131;
				color: #FFF;
			}
		}		
	
				
			
		

		
		
	
