* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Fira Sans', sans-serif;
}

html {background-color:#5EB1BF}

header {
	padding-top: 50px;
	padding-bottom: 50px;

	h1 {
		color: white;
		font-size: 36px;
		font-weight: 400;
		text-align: center;

		strong {
			color: #313131;
		}
	}
}
.anime-card{
	padding-right: 5%;
	padding: left 5%;
    border-radius: 12px; 
    padding-top: 2%;
   text-align: center;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

	.inner-main{
	
  background-color: #282A36;
  border-radius: 12px;
  /* Center horizontally*/
 
	}
	.main{
		color: white;
		text-align: center;
		height: 85%;
		width: 90%;
		margin: 0 auto;
		
		padding: 5px;
		
	}
.btn-right{

	float: right;
}
.btn-left{
	
	float: left;
}
/* From uiverse.io by @NorthFishHasNa */
button {
	color: white;
	display: inline-block;
	border-radius: 4px;
	background-color: #282A36;
	
	
	text-align: center;
	font-size: 17px;
	padding: 16px;
	width: 130px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
   }
   
   button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
   }
   
   button span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -15px;
	transition: 0.5s;
   }
   
   button:hover span {
	padding-right: 15px;
   }
   
   button:hover span:after {
	opacity: 1;
	right: 0;
   }


	.search-box{
		width: 357px;
  		margin: 4px auto;
  		text-align: center;
  		display: inline-block;
	}
		
		input {
			
					
			appearance: none;
			background: none;
			outline: none;
			border: none;

			display: block;
			width: 100%;
			max-width: 400px;
			padding: 16px;
			border-radius: 999px;
			background-color: #EEE;

			transition: 0.4s;

			::placeholder {
				color: #888;
			}

			&:focus, &:valid {
				background-color: #313131;
				color: #FFF;
			}
		}		
	
				
			
		

		
		
	
