@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Fira Sans', sans-serif;
}

html {
	background-color: #313131;
	// background-color:#707797
	
}

header {
	padding-top: 50px;
	padding-bottom: 50px;

	h1 {
		color: white;
		font-size: 36px;
		font-weight: 400;
		text-align: center;

		strong {
			color:#4583C9;
			// color: #313131;
		}
	}
}
.anime-card{
	padding-right: 5%;
	padding: left 5%;
    border-radius: 12px; 
    padding-top: 2%;
   text-align: center;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


	.inner-main{
	
  background-color: #282A36;
  padding-right: 15%;
  padding-left: 15%;
  
  /* Center horizontally*/
 
	}
	.main{
		color: white;
		text-align: center;
		height: 100%;
		width: 100%;
		background-color: #282A36;
		position: absolute;
		top:20%;
		font-family: 'Fira Sans', sans-serif;
		
		
	}
.btn-right{

	float: right;
}
.btn-left{
	
	float: left;
}
.anime-synopsis{
	font-size: 20px;
	 font-family: 'Old Standard TT', serif;
}
/* From uiverse.io by @NorthFishHasNa */
button {
	color: white;
	display: inline-block;
	background-color:#4583C9;
	text-align: center;
	font-size: 17px;
	padding: 16px;
	width: 130px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
   }
   
 


	.search-box{
		width: 357px;
  		margin: 4px auto;
  		text-align: center;
  		display: inline-block;
	}
		
		input {
			
					
			appearance: none;
			background: none;
			outline: none;
			border: none;

			display: block;
			width: 100%;
			max-width: 400px;
			padding: 16px;
			border-radius: 999px;
			background-color: #EEE;

			transition: 0.4s;

			::placeholder {
				color: #888;
			}

			&:focus, &:valid {
				background-color: #313131;
				color: #FFF;
			}
		}	
		
		
	
				
			
		

		
		
	
